
  .col {
    height: 100%;
    width: 25px;
    position: fixed;
    top: 0;
  }

  .col-2 {
    height: 100%;
    width: 25px;
    position: fixed;
    top: 0;
  }

  .row {
    display: flex;
  }
  
  .column {
    width: clamp(200px, 50%, 500px);
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }